/**** vars ****/

/* Typography */
$font-title: "Open Sans Condensed", sans-serif;
$font-text:  "Open Sans", sans-serif;

/* Colors */
$brand-primary:         #437b8f;
$brand-primary-dark:    #3d7082;
$brand-primary-darker:  #366474;
$brand-primary-darkest: #305967;

$brand-secondary:      #bad5e4;

$black:      #000000;
$gray-dark:  #333333;
$gray:       #999999;
$gray-light: #cccccc;
$white:      #ffffff;

/* Resolutions */
$screen-sm:      768px;
$screen-sm-min:  $screen-sm;
$screen-md:      992px;
$screen-md-min:  $screen-md;
$screen-lg:      1200px;
$screen-lg-min:  $screen-lg;
$screen-ms:      480px !default;
$screen-ms-min:  $screen-ms !default;
$screen-ms-max:  ($screen-sm-min - 1) !default;
